Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
(i) String

In [1]:
s="Prathamesh"

(ii) list

In [2]:
r=[4,"Prathamesh",3.2]

(iii) float

In [3]:
k=8.42

(iv) tuple

In [6]:
t=("raj","saurabh")

Q2. Given are some following variables containing data:
ans- 
var1 is a string.
var2 is a string.
var3 is a list.
var4 is a float.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
#(i) /: This operator is the division operator in Python. It is used to divide one number by another.
# Example of /
result = 10 / 3
print(result)  # Output will be 3.333333333333333

#(ii) %: This is the modulo operator, which returns the remainder of the division of the first operand by the second.
# Example of %
remainder = 10 % 3
print(remainder)  # Output will be 1

#(iii) //: This is the floor division operator, which performs division and rounds down to the nearest whole number.
# Example of //
result = 10 // 3
print(result)  # Output will be 3

#(iv) **: This is the exponentiation operator, used to raise the first operand to the power of the second operand.
# Example of **
result = 2 ** 3
print(result)  # Output will be 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
l=[1,"Prathamesh","data_science",98.6,4,9,"python","jupyter",23,"love"]
for i in l:
    print(i)
    print (type(i))

1
<class 'int'>
Prathamesh
<class 'str'>
data_science
<class 'str'>
98.6
<class 'float'>
4
<class 'int'>
9
<class 'int'>
python
<class 'str'>
jupyter
<class 'str'>
23
<class 'int'>
love
<class 'str'>

Q5.  Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
A=int(input())
B=int(input())
count=0
while B != 0 and A % B == 0:
    count += 1
    A = A // B
if B == 0:
    print("Error: Division by zero!")
else:
    print("Number A is purely divisible by number B and can be divided", count, "times.")

25
5
Number A is purely divisible by number B and can be divided 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else:
            l2.append(i)
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [12]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable -the function whose items are changeable. Ex- list
Immutable -the function whose list aren't changeable. Ex- tuple , string

In [13]:
f=[1,2,3,4]

In [15]:
f[0]=2
f

[2, 2, 3, 4]

above we can see that the list item is changeable

In [16]:
f=(1,2,3,4)

In [6]:
f[0]=2
f

NameError: name 'f' is not defined

above we can see that its show error , so thats why tuple is immutable.